# Environment variables (Do not commit to Git!)
.env
.env.local
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Node
node_modules/
.npm
.next/
out/
*.tsbuildinfo

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# SQLite Database
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

